<h1>{{org.name}} Repositories</h1>
<p>{{favorites.items.length}} favorites!!</p>
<p>
  {{link-to '< Go back to Orgs' 'index'}}
</p>
<ul class='repos'>
  {{#each model as |repo|}}
    {{github-repo repo=repo}}
  {{/each}}
</ul>
{{outlet}}
