<h1>{{org.id}} Repositories</h1>
<p>
  {{link-to '< Go back to Orgs' 'index'}}
</p>
<ul class='repos'>
  {{#each model as |repo|}}
  <li>
      <i class="material-icons" onclick={{action 'toggleFavorite' repo}}>star_border</i>
      {{link-to repo.id 'org.repo' repo.id}}
  </li>
  {{/each}}
</ul>
{{outlet}}
